* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.chronology {
  font-size: 32px;
  font-weight: 900;
  color: #003687;
  margin-bottom: 20px;
  margin-left: 20%;
  display: flex;
  width: 100%;
  justify-content: left;
}
.timeline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

.info-image-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

#year {
  margin-bottom: 19px;
}

#date {
  margin-bottom: 16px;
  font-size: 20px;
  color: #9aa9b1;
}

#event-text {
  text-align: left;
}

.info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.info h2 {
  font-size: 77px;
  color: #9aa9b1;
}

.event-image {
  margin-bottom: 20px;
}

.event-image img {
  max-width: 557px;
  height: auto;
  border-radius: 7px;
}

.timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1224px;
  margin: 20px 0;
}

.years {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 1365px;
  justify-content: space-around;
}

.years span {
  cursor: pointer;
  padding: 3px 6px;
  margin: 0 3px;
  border-radius: 10%;
  background-color: #1e90ff;
  color: white;
  transition: background-color 0.3s;
}

.years span.selected {
  background-color: #5aa2a2;
  outline: 4px solid #6f8490;
  color: white;
}

.years span:hover {
  background-color: #003687;
  color: white;
}

.timeline-nav {
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.timeline-nav:hover {
  scale: 104%;
  transition: 0.4s ease-in-out;
}

.event-dot {
  position: relative;
  width: 18px;
  height: 18px;
  background-color: #6fa4f0;
  border: 2px solid #6f8490;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  z-index: 100;
}

.event-dot:hover {
  background-color: #93beff;
}

.event-dot:active {
  background-color: red;
}

.event-dot.selected {
  background-color: #5aa2a2;
  outline: 1px solid #6f8490;
  color: white;
}

.circle {
  border-radius: 50%;
  background-color: deepskyblue;
  width: 20px;
  height: 20px;
  animation: scaleIn 1.8s infinite cubic-bezier(0.17, 0.37, 0.83, 0.77);
}

@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 1;
  }
  to {
    transform: scale(1.2, 1.2);
    opacity: 0.8;
  }
}

.fixed-years {
  display: flex;
  justify-content: center;
  gap: 70px;
  color: lightgray;
  transform: translateY(-24px);
}

.dots-timeline {
  height: 0px;
  border-bottom: 2px solid lightgray;
  margin-bottom: 30px;
  padding-bottom: 7px;
  display: flex;
  width: 1000px;
  transform: translateY(-24px);
  justify-content: space-between;
}

@media (max-width: 600px) {

  /* TBD */
}
